[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]

ipython = "*"
mixer = "*"
pytest-django = "*"


[packages]

django = "*"
django-configurations = "*"
dj-database-url = "*"
"psycopg2" = "*"
djangorestframework = "*"
djoser = "*"
django-cors-headers = "*"


[requires]

python_version = "3.6"
